<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.warren_bank.broadcast_sms_sent">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:label="Broadcast SMS_SENT"
        android:icon="@android:drawable/stat_notify_chat">

        <!--
          * `Activity` is needed to bootstrap Service,
            since the app needs a way to transition from "stopped" to "started" state.
          * `RestartReceiver` only receives broadcasts in "started" state.
        -->
        <activity
            android:name=".StartActivity"
            android:label="Broadcast SMS_SENT"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SmsService"
            android:enabled="true" >
        </service>

        <receiver
            android:name=".RestartReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
