<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.warren_bank.notify_sms_sent">

    <application
        android:allowBackup="false"
        android:label="Notify SMS_SENT">

        <receiver
            android:name=".SmsSentReceiver">

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_SENT" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
